body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: inherit;
}

body
    > .base-Popper-root.MuiDataGrid-panel
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiDataGrid-paper {
    min-width: auto;
}

body > .base-Popper-root.MuiDataGrid-panel .MuiDataGrid-filterForm {
    flex-direction: column;
    gap: 1rem;
}

body > .base-Popper-root.MuiDataGrid-panel .MuiDataGrid-filterFormDeleteIcon {
    width: 2rem;
}

html {
    box-sizing: border-box;
}
